.genre-list-big .group-blocks--fourth{padding-right: 10px;}
.genre-list-big .group-blocks--first {padding-left: 10px;}
.ting-search-context .group-blocks--fourth{padding-right: 10px;}
.ting-search-context .group-blocks--first {padding-left: 10px;}
.group-blocks--inner p {margin-top: 0px;}
.page-content .group-blocks--inner  li {list-style: none outside none;}
.genre-list-detail-wrapper {  margin-top:30px;}
.genre-list-big {border-top: 1px solid #EFEFEF} 
.genre-list-big .group-blocks--inner {margin-top: 0px; padding-top: 10px; border-top:none}
.genre-list-detail-wrapper .sub-menu > li {border-bottom: none;}
.students-content-left {width:50%; float: left}
.students-content-right{width:50%; float: right}
.pane-inspiration-page-covers li.list-item{display: inline-block;}
.pane-top-recommendation-list{background-color: #ffffff;}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .genre-list-big .group-blocks--first {width: 50%; clear:none; border-bottom: none;}
  .genre-list-big .group-blocks--second {width: 50%; margin-left:50%;float:none; clear:none; padding-left:10px;border-bottom: none;}
  .genre-list-big .group-blocks--third {width: 50%; clear:none;border-bottom: none;padding-left:10px;}
  .genre-list-big .group-blocks--fourth {width: 50%; margin-left:50%; float:none;padding-left: 10px;padding-right:0;clear:none;border-bottom: none;}
  .group-blocks-2columns {clear:both; border-top: 1px solid #EFEFEF; padding-top:20px;}
}

/* Fakta-box */
.ding-fakta-box {border-left:5px solid #EFEFEF;}